<div class="dropdown">
	<a class="btn btn-default">
		<i class="fa fa-calendar"></i>
		{{ text }}
		<i class="fa fa-angle-down"></i>
	</a>
	<div class="dropdown-menu" role="menu">
	    <div class="row">
	      <div class="col-lg-6 col-md-6 col-sm-6">
	        <div ez-date-picker ng-model="form.from" to="form.to" options="options"></div>
	        <hr>
	        <div ng-if="options.timepickerEnabled" ez-time-picker ng-model="form.from" options="options"></div>
	      </div>
	      <div class="col-lg-6 col-md-6 col-sm-6">
	        <div ez-date-picker ng-model="form.to" from="form.from" options="options"></div>
	        <hr>
	        <div ng-if="options.timepickerEnabled" ez-time-picker ng-model="form.to" options="options"></div>
	      </div>
	    </div>
		<div class="row">
			<div class="col-xs-12 text-right">
			    <a class="btn btn-default" ng-click="dismiss()">
			      <i class="glyphicon glyphicon-remove"></i>
			      {{ options.cancelBtnText }}
			    </a>
			    <a class="btn btn-primary" ng-click="$event.stopPropagation();ok()">
			      <i class="glyphicon glyphicon-ok"></i>
			      {{ options.okBtnText }}
			    </a>
			</div>
		</div>
	</div>
</div>